// Font & color
$primaryFontSize: 24px;
$headerFontSize: 16px;
$primaryColor: #525252;
$secondaryColor: #000000;
$descrCardColor: #757575;
$formColor: #FFEBD8;
$lgCardColor: lightgrey;
// $fontSize: $fontSize;
// $lineHeight: $lineHeight;



// Container & Breakpoints

$containerWidth: 1248px;
$containerPadding: 20px;



// Header

$headerHeight: 50px;